<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>our work</title>
    <link rel="stylesheet" type="text/css" href="./css/ourwork.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/image/Dinhatta Logo.png" type="image/x-icon">
</head>
   

    <!-- nav -->
    <!-- nav -->
  <body>
    <nav style="top: 0px;height: 63px;">
        <div class="logo">
           <a href="/"> <img src="image/Dinhatta Logo.png" alt="Logo Image"></a>
        </div>
        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/ourwork">Our Works</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/vol">Volunteer</a></li>
            
            <li><a class="join-button" href="/donate">Donate Us</a></li>
        </ul>
    </nav>
          <!-- column -->
          <section>
          <div style="height: 60px;"><h2 style="text-align: center; margin-top: 120px;color: #060606">Our Work</h2>
          <hr class="w-25 mx-auto pt-5" style=" width: 200px; display: block; margin-right: auto;margin-left: auto;">
          <br>
          </div>    
          </section>
         

<section style="margin-bottom: 130px;">
<div class="clearfix" style="padding-top: 25px; padding-left: 25px; padding-right: 25px;margin-top: 80px;">
  <img class="img2" src="image/ngo4.jpg" alt="Pineapple" width="500" height="200"style="margin-left: 20px;">
  <p style="color: #131418"> <b style="color: black; font-family: 'Courgette', cursive; font-size: large;"> Education support: </b>People living with hardship often miss out on education due to lack of support, helping us reach out to them. Numerous children working daily wages to support their families miss out on education. We reach out to such children to provide them with counseling and motivate them to achieve education. We facilitate them with support towards going to school like exercise books, pencils, bags, and school necessities.
</p>
</div>
</section>

<section style="margin-bottom: 100px;">
<div class="clearfix" style="padding-top: 25px; padding-left: 25px; padding-right: 25px;">
  <img class="img4" src="image/ngo4.jpg" alt="Pineapple" width="500" height="200"style="margin-right: 20px;">
  <p style="color: #131418"> <b style="color: black; font-family: 'Courgette', cursive; font-size: large;">Financial support:  </b>In areas of poverty we provide financial support for adequate scenarios. Private events such as marriage are often held back due to financial shortage, we provide financial support for such a scenario. People suffering from terminal diseases or disorders require financial aid for proper medical attention; medical help is often unreachable to individuals with no one to look after them. We ensure such individuals are looked after with our support.
  </p>
</div>
</section>



<section style="margin-bottom: 100px;">
<div class="clearfix" style="padding-top: 25px; padding-left: 25px; padding-right: 25px;">
  <img class="img2" src="image/ngo4.jpg" alt="Pineapple" width="500" height="200"style="margin-left: 20px;">
  <p style="color: #131418"><b style="color: black; font-family: 'Courgette', cursive; font-size: large;">Food Distribution:</b> Starvation is very deadly condition which results in malnutrition and even loss of life. People living below the poverty line are many and they face numerous problems daily. While there are people wasting food, there are many who die due to not getting some. Therefore at Dinhata Village -1 Welfare Society we all come together to eradicate this issue.  </p>
</div>
</section>


<section style="margin-bottom: 100px;">
<div class="clearfix" style="padding-top: 25px; padding-left: 25px; padding-right: 25px;">
  <img class="img4" src="image/ngo4.jpg" alt="Pineapple" width="500" height="200"style="margin-right: 20px;">
  <p style="color: #131418"><b style="color: black; font-family: 'Courgette', cursive; font-size: large;">Clothes Distribution:</b> We have been giving away rags and clothes among the people who live under the sky to help fight the weather. We do a regular survey in our community, so the neediest people get the priority. Giving clothes may not bring the significant change but it can surely change someone’s life that is underprivileged and needy.  </p>
</div>
</section>






<!-- FOOTER START -->
<footer class="footer-section">
        <div class="container">
            <div class="footer-cta pt-5 pb-5">
                
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="/"><img src="image/Dinhatta Logo.png" class="img-fluid" alt="logo"></a>
                            </div>
                            

                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/ourwork">Our Work</a></li>
                                <li><a href="/organisationprofile">Organisation Profile</a></li>
                                <li><a href="/About">About Us</a></li>
                                <li><a href="/termsandcondition">Terms & Condition</a></li>
                                <li><a href="/contactus">Contact Us</a></li>
                                <li><a href="/vol">Volunteer</a></li>
                                <li><a href="/donate">Donate Us</a></li>
                               
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                        <div class="footer-widget">
                           
                            <div class="subscribe-form">
                                <form action="#">
                                   
                                    <!-- <button><i class="fab fa-telegram-plane"></i></button> -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2021, All Right Reserved <a href="https://www.bluewebsurfer.com/">BlueWebSurfer</a></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
<!-- END OF FOOTER -->

<script>const hamburger = document.querySelector(".hamburger");
const navLinks = document.querySelector(".nav-links");
const links = document.querySelectorAll(".nav-links li");

hamburger.addEventListener('click', ()=>{
   //Animate Links
    navLinks.classList.toggle("open");
    links.forEach(link => {
        link.classList.toggle("fade");
    });

    //Hamburger Animation
    hamburger.classList.toggle("toggle");
});
</script>
  </body>
</html>